<main class="w-full flex flex-column justify-content-around align-items-center">
  <!-- input section -->
  <section class="my-4">
    <div class=" w-full surface-100 flex flex-row justify-content-between">
      <div class="card flex justify-center">
        <p-button label="Add Lorem 20" (click)="addLorem20()"/>
      </div>
      @if (!isUpdateMode) {
        <div class="card flex justify-center">
          <p-button label="Submit" (click)="submitTodo()"/>
        </div>
      }
      @if (isUpdateMode) {
        <div class="card flex justify-center">
          <p-button label="Update" (click)="updateTodo()" severity="warn" />
        </div>
      }
    </div>
    <div class="card flex justify-center my-4">
      <textarea rows="5" cols="30" pTextarea [(ngModel)]="todoText"></textarea>
    </div>
  </section>

  <hr class="w-full">

  <!-- listing section -->
  <section class="flex flex-row flex-wrap justify-content-around align-items-center">
    @for (item of todos; track item.id) {
      @if (item.id) {
        <div class="m-4 p-4 surface-100 border-1 border-round w-16rem h-12rem overflow-y-scroll flex flex-column">
          <div class="mt-2 w-full flex flex-row flex-nowrap justify-content-end">
            <div>
              <p-button icon="pi pi-search" severity="warn" (click)="switchToUpdateMode(item)"/>
            </div>
            <div class="ml-2">
              <p-button icon="pi pi-times" severity="danger" (click)="deleteTodo(item.id)"/>
            </div>
          </div>
          <div class="mt-2">
            {{ item.title}}
          </div>
        </div>
      }
    }
  </section>
</main>